<div class="page-content boxed">
    <div id="pageText" class="pageText">
        <h2>Oracle</h2>
    </div>
    <div class="left-column">
        <div class="section-entry">
            <div class="section-header">
                <%= link_to("XPlan, Waits & SQL Tune", :controller => 'x_plan_waits_sql_tune') %>
            </div>
            <div class="section-text">
                List the execution plan, wait events, and SQL Tuning Advisor recommendations for a set of SQL_IDs.
            </div>        
        </div>
        <!-- Row 2
        <div class="section-entry">
            <div class="section-header">
                <%= link_to("XPlan, Waits & SQL Tune", :controller => 'x_plan_waits_sql_tune') %>
            </div>
            <div class="section-text">
                Section text here.
            </div>        
        </div>
        -->
    </div>
    <!-- Right column
    <div class="right-column">
        <div class="section-entry">
            <div class="section-header">
                <%= link_to("XPlan, Waits & SQL Tune", :controller => 'x_plan_waits_sql_tune') %>
            </div>
            <div class="section-text">
                Section text here.
            </div>        
        </div>
        <div class="section-entry">
            <div class="section-header">
                <%= link_to("XPlan, Waits & SQL Tune", :controller => 'x_plan_waits_sql_tune') %>
            </div>
            <div class="section-text">
                Section text here.
            </div>        
        </div>
    </div>
    -->
</div>

<!-- Section Template 
<div class="page-content boxed">
    <div id="pageText" class="pageText">
        <h2>Oracle<h2>
    </div>
    <div class="left-column">
        <div class="section-entry">
            <div class="section-header">
                <%= link_to("XPlan, Waits & SQL Tune", :controller => 'x_plan_waits_sql_tune') %>
            </div>
            <div class="section-text">
                Section text here.
            </div>        
        </div>
        <div class="section-entry">
            <div class="section-header">
                <%= link_to("XPlan, Waits & SQL Tune", :controller => 'x_plan_waits_sql_tune') %>
            </div>
            <div class="section-text">
                Section text here.
            </div>        
        </div>
    </div>
    <div class="right-column">
        <div class="section-entry">
            <div class="section-header">
                <%= link_to("XPlan, Waits & SQL Tune", :controller => 'x_plan_waits_sql_tune') %>
            </div>
            <div class="section-text">
                Section text here.
            </div>        
        </div>
        <div class="section-entry">
            <div class="section-header">
                <%= link_to("XPlan, Waits & SQL Tune", :controller => 'x_plan_waits_sql_tune') %>
            </div>
            <div class="section-text">
                Section text here.
            </div>        
        </div>
    </div>    
</div>
-->



